body{
    background-color: darkred;
}
img{
    row-span: inherit;
    width: auto;
}
.form{
    color: paleturquoise;
}
.First_Word{
    padding-left: 30px;
}
h1{
    text-align: center;
    font-style: italic;
    background-color: yellow;
    animation: blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%		{ color: #10c018;}
    25%		{ color: #1056c2;}
    50%		{ color: #ef0a1a;}
    75%		{ color: #254878;}
    100%	{ color: #04a1d5;}
}

.Q1{
    margin-left: 450px;
}
.Japan{
    margin-left: 450px;
    color: cyan;
}
.Q2{
    margin-left: 450px;
}
.Bows{
    margin-left: 450px;
    color: cyan;
}
.Letters{
    margin-left: 450px;
    color: cyan;
}
.Marry{
    margin-left: 450px;
    color: cyan;
}
.God{
    margin-left: 450px;
    color: cyan;
}
.Q3{
    margin-left: 450px;
}
.class{
    margin-left: 450px;
    color: black;
}
.o1{
    color: crimson;
}
.o2{
    color: darkblue;
}
.o3{
    color: darkcyan;
}
.Q4{
    margin-left: 450px;
}
.Arthur{
    margin-left:450px;
}
.Agustulus{
    margin-left: 450px;
}
.Gelasius{
    margin-left: 450px;
}
.Thodoric{
    margin-left: 450px;
}
.Q5{
    margin-left: 450px;
}
.Birth{
    margin-left: 450px;
}
.Marriage{
    margin-left: 50px;
}
.Martyred{
    margin-left: 450px;
}
.Easter{
    margin-left: 22px;
}
.Q6{
    margin-left: 450px;
}
.another_class{
    margin-left: 450px;
}
.option1{
    color: darkred;
}
.option2{
    color: blue;
}
.option3{
    color: darkgreen;
}
.option4{
    color: firebrick;
}
.Q7{
    margin-left: 450px;
}
.blue{
    margin-left: 450px;
}
.crush{
    margin-left: 450px;
}
.token{
    margin-left: 450px;
}
.hat{
    margin-left: 450px;
}
.Q8{
    margin-left: 450px;
}
.Beatles{
    margin-left: 450px;
}
.Bee_Gees{
    margin-left: 50px;
}
.Monkees{
    margin-left: 450px;
}
.Beach{
    margin-left: 39px;
}
#submit{
    margin-left: 695px;
}
#submit:hover{
    color: orangered;
}
#reset{
    margin-left: 50px;
}
#reset:hover{
    color: darkslategrey;
}